[Unit]
Description=Firewall4AI
After=network.target firewall4ai-iptables.service
Requires=firewall4ai-iptables.service

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /var/lib/firewall4ai
ExecStart=/usr/bin/firewall4ai -config /etc/firewall4ai/config.json
Restart=on-failure
# DHCP server needs to send broadcast packets
AmbientCapabilities=CAP_NET_RAW CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
